Automation Fast Track - Nate Hert - Nov25/AFT - 02 - Proposal Agent.json
{
  "name": "AFT - 02 - Proposal Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aft-fathom-recording",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        0
      ],
      "id": "89391a73-2363-44d6-997e-2971052d1f39",
      "name": "Webhook",
      "webhookId": "50819411-1403-4b8e-a5c9-e2692221b314"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM",
          "mode": "list",
          "cachedResultName": "[AFT] The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Contact Email",
              "lookupValue": "={{ $json.body.calendar_invitees[1].email  }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        0
      ],
      "id": "768f872f-01dc-4917-bae3-cd6372939d1c",
      "name": "Get Lead Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fEEh3dtbP9SEhsE5",
          "name": "Google Sheets account DT - AFT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "15d0d316-7f36-4e56-8f44-015a9cee918d",
              "leftValue": "={{ $json['Sales Transcript ID '] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "620fc1fc-2acf-4af1-afbe-98c764a05fcd",
      "name": "Sales Call or Closing Call?"
    },
    {
      "parameters": {
        "content": "## Proposal Agent Workflow\n1. Webhook Trigger - \n2. Receives call data from Fathom\n3. Get Lead Info - Retrieves lead details from Google Sheets\nSales Call or Closing Call? - Routes based on call type\n- Sales Call Branch → Generates proposal\n- Closing Call Branch → Updates tracking only",
        "height": 288,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        -64
      ],
      "typeVersion": 1,
      "id": "873571c2-2242-48e7-a7f1-7c5abf146ac6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Get data directly from the Webhook node\nconst body = $('Captured Transcript').item.json.body;\n\nconst meetingTitle = body.meeting_title;\nconst recordingDate = body.created_at;\nconst summary = body.default_summary.markdown_formatted;\nconst transcript = body.transcript;\nconst attendees = body.calendar_invitees;\nconst recordingUrl = body.url;\nconst shareUrl = body.share_url;\nconst actionItems = body.action_items;\n\n// Clean up the summary by removing URLs in markdown links\nlet cleanedSummary = summary\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1')\n  .replace(/\\n{3,}/g, '\\n\\n');\n\n// Format the transcript (group consecutive messages from same speaker)\nlet formattedTranscript = '';\nlet currentSpeaker = null;\nlet currentText = [];\n\ntranscript.forEach((entry, index) => {\n  const speakerName = entry.speaker.display_name;\n  const text = entry.text;\n  \n  if (speakerName === currentSpeaker) {\n    currentText.push(text);\n  } else {\n    if (currentSpeaker !== null) {\n      formattedTranscript += `**${currentSpeaker}:**\\n${currentText.join(' ')}\\n\\n`;\n    }\n    currentSpeaker = speakerName;\n    currentText = [text];\n  }\n  \n  if (index === transcript.length - 1) {\n    formattedTranscript += `**${currentSpeaker}:**\\n${currentText.join(' ')}`;\n  }\n});\n\n// Format attendees as simple array\nconst attendeesList = attendees.map(attendee => ({\n  name: attendee.name,\n  email: attendee.email\n}));\n\n// Return everything as separate fields\nreturn {\n  json: {\n    meeting_title: meetingTitle,\n    date: recordingDate,\n    attendees: attendeesList,\n    recording_url: recordingUrl,\n    playback_url: shareUrl,\n    summary: cleanedSummary.trim(),\n    transcript: formattedTranscript.trim(),\n    action_items: actionItems\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -16
      ],
      "id": "0872972e-d7ca-4aad-8ca8-bcdb607bd803",
      "name": "Clean Up Fathom Data"
    },
    {
      "parameters": {
        "text": "= Call with company: {{ $('Get Lead Info').item.json['Company Name'] }}\n   Transcript of the call: {{ $('Clean Up Fathom Data').item.json.transcript }}\n",
        "attributes": {
          "attributes": [
            {
              "name": "proposal title",
              "description": "proposal title",
              "required": true
            },
            {
              "name": "proposal description",
              "description": "short description of the proposal. It will be located under the title, so should be a bit short.",
              "required": true
            },
            {
              "name": "clients bottlenecks",
              "description": "close look at the problem and clients bottlenecks (no more than 120 words)",
              "required": true
            },
            {
              "name": "aim of the project",
              "description": "aim of the project description",
              "required": true
            },
            {
              "name": "first solution heading",
              "description": "First solution heading. If we have more than three or four or five solutions, we can merge some of them that are kind of related because in templates we are passing it to have first solution, second solution, and third solution. Be aware of that.",
              "required": true
            },
            {
              "name": "second solution heading",
              "description": "Second solution heading. If we have more than three or four or five solutions, we can merge some of them that are kind of related because in templates we are passing it to have first solution, second solution, and third solution. Be aware of that.",
              "required": true
            },
            {
              "name": "third solution heading",
              "description": "third solution heading. If we have more than three or four or five solutions, we can merge some of them that are kind of related because in templates we are passing it to have first solution, second solution, and third solution. Be aware of that.",
              "required": true
            },
            {
              "name": "first solution description",
              "description": "First solution description. If we have more than three or four or five solutions, we can merge some of them that are kind of related because in templates we are passing it to have first solution, second solution, and third solution. Be aware of that.",
              "required": true
            },
            {
              "name": "second solution description",
              "description": "Second solution description. If we have more than three or four or five solutions, we can merge some of them that are kind of related because in templates we are passing it to have first solution, second solution, and third solution. Be aware of that.",
              "required": true
            },
            {
              "name": "third solution description",
              "description": "third solution description. If we have more than three or four or five solutions, we can merge some of them that are kind of related because in templates we are passing it to have first solution, second solution, and third solution. Be aware of that.",
              "required": true
            },
            {
              "name": "Phase 1",
              "description": "Phase 1 Description. Be aware that we have 4 phases total, so it's very needed that you create these phases in a smart way.",
              "required": true
            },
            {
              "name": "Phase 2",
              "description": "Phase 2 Description. Be aware that we have 4 phases total, so it's very needed that you create these phases in a smart way.",
              "required": true
            },
            {
              "name": "Phase 3",
              "description": "Phase 3 Description. Be aware that we have 4 phases total, so it's very needed that you create these phases in a smart way.",
              "required": true
            },
            {
              "name": "Phase 4",
              "description": "Phase 4 Description. Be aware that we have 4 phases total, so it's very needed that you create these phases in a smart way.",
              "required": true
            },
            {
              "name": "Cost first half",
              "description": "Cost of the first half of the full price for the project",
              "required": true
            },
            {
              "name": "First half payment deadline",
              "description": "The first half of the payment is due one week after the sales call. Please note that we don’t begin any work until the first half payment has been received.",
              "required": true
            },
            {
              "name": "Remaining half cost",
              "description": "Cost of the remaining half of the full price for the project",
              "required": true
            },
            {
              "name": "Remaining half cost deadline",
              "description": "This one should be said in words: \"One week after we notify the client that we have submitted the work, that we're ready to go ahead and we're done with our part.\"",
              "required": true
            },
            {
              "name": "goal of the project",
              "description": "goal of the project description",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        720,
        -16
      ],
      "id": "6d1e2a20-86b9-42c0-aad1-d55dfddc9513",
      "name": "Extract information for the proposal"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        128
      ],
      "id": "0a332b04-abb2-4f00-ae62-70a03f3d6a23",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Cv9IjmIiYr4zARqR",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "14a56mO7y7OtHp7NzsugvK0ivHld_P24SZ68hmR-3jmI",
          "mode": "id"
        },
        "name": "=Proposal for {{ $('Get Lead Info').item.json['Company Name'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        -16
      ],
      "id": "82deed68-afc4-4244-890b-a10c409e24e6",
      "name": "Copy existing proposal template",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ekvxvDXmqQXlWoZi",
          "name": "Google Drive account DT - AFT"
        }
      }
    },
    {
      "parameters": {
        "operation": "replaceText",
        "presentationId": "={{ $json.id }}",
        "textUi": {
          "textValues": [
            {
              "text": "{{proposalTitle}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['proposal title'] }}"
            },
            {
              "text": "{{proposalDescription}}",
              "replaceText": "{{ $('Extract information for the proposal').item.json.output['proposal description'] }}"
            },
            {
              "text": "{{bottlenecks}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['clients bottlenecks'] }}"
            },
            {
              "text": "{{aimdescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['aim of the project'] }}"
            },
            {
              "text": "{{goaldescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['goal of the project'] }}"
            },
            {
              "text": "{{firstsolutionheading}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['first solution heading'] }}"
            },
            {
              "text": "{{firstsolutiondescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['first solution description'] }}"
            },
            {
              "text": "{{secondsolutionheading}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['second solution heading'] }}"
            },
            {
              "text": "{{secondsolutiondescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['second solution description'] }}"
            },
            {
              "text": "{{thirdsolutionheading}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['third solution heading'] }}"
            },
            {
              "text": "{{thirdsolutiondescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['third solution description'] }}"
            },
            {
              "text": "{{phaseonedescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['Phase 1'] }}"
            },
            {
              "text": "{{phasetwodescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['Phase 2'] }}"
            },
            {
              "text": "{{phasethreedescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['Phase 3'] }}"
            },
            {
              "text": "{{phasefourdescription}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['Phase 4'] }}"
            },
            {
              "text": "{{firsthalfcost}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['Cost first half'] }}"
            },
            {
              "text": "{{firsthalfcostdeadline}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['First half payment deadline'] }}"
            },
            {
              "text": "{{secondhalfcost}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['Remaining half cost'] }}"
            },
            {
              "text": "{{secondhalfcostdeadline}}",
              "replaceText": "={{ $('Extract information for the proposal').item.json.output['Remaining half cost deadline'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 2,
      "position": [
        576,
        256
      ],
      "id": "7b22fcbe-6157-40b5-9b89-8620ba2f02b4",
      "name": "Replace text in the proposal",
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "f1invjXg45lsFUY6",
          "name": "Google Slides account DT - AFT"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dhimahitechnolabs@gmail.com",
        "subject": "Generated proposal for review",
        "emailType": "text",
        "message": "=Please review the generated proposal and make any necessary changes                 Presentation URL: https://docs.google.com/presentation/d/{{ $json.presentationId }}/edit",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        256
      ],
      "id": "5d965064-c59c-48ed-8538-16e267768160",
      "name": "Send the proposal for review and edits",
      "webhookId": "9763d5b6-994e-43aa-baac-b8f052e531c5",
      "credentials": {
        "gmailOAuth2": {
          "id": "MdIGR3k6h7OPEYUE",
          "name": "Gmail account DT - AFT"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM",
          "mode": "list",
          "cachedResultName": "[AFT] The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Get Lead Info').item.json['Contact Email'] }}",
            "Proposal sent?": "true",
            "Showed Call?": "Yes",
            "Sales Transcript ID ": "={{ $('Captured Transcript').item.json.body.recording_id }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone(optional)",
              "displayName": "Contact Phone(optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website (optional)",
              "displayName": "Website (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Started Sequence?",
              "displayName": "Started Sequence?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sequence Last Date",
              "displayName": "Sequence Last Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow Ups",
              "displayName": "Follow Ups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Scheduled?",
              "displayName": "Call Scheduled?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Showed Call?",
              "displayName": "Showed Call?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales Transcript ID ",
              "displayName": "Sales Transcript ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latest/Closed Transcript ID",
              "displayName": "Latest/Closed Transcript ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proposal sent?",
              "displayName": "Proposal sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Closed?",
              "displayName": "Closed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contract Sent? ",
              "displayName": "Contract Sent? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contract ID ",
              "displayName": "Contract ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contract Signed?",
              "displayName": "Contract Signed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        256
      ],
      "id": "59878f6a-ec45-4a59-82b1-4d32ec57ce85",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fEEh3dtbP9SEhsE5",
          "name": "Google Sheets account DT - AFT"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM",
          "mode": "list",
          "cachedResultName": "[AFT] The Sales Agent - CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Ft0P5PgslMch0EqtMSdLPJTPSs5fmIimKbOZyGedqM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Email": "={{ $('Get Lead Info').item.json['Contact Email'] }}",
            "Latest/Closed Transcript ID": "={{ $('Captured Transcript').item.json.body.recording_id }}"
          },
          "matchingColumns": [
            "Contact Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone(optional)",
              "displayName": "Contact Phone(optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website (optional)",
              "displayName": "Website (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Started Sequence?",
              "displayName": "Started Sequence?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sequence Last Date",
              "displayName": "Sequence Last Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow Ups",
              "displayName": "Follow Ups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Scheduled?",
              "displayName": "Call Scheduled?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Showed Call?",
              "displayName": "Showed Call?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales Transcript ID ",
              "displayName": "Sales Transcript ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latest/Closed Transcript ID",
              "displayName": "Latest/Closed Transcript ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proposal sent?",
              "displayName": "Proposal sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Closed?",
              "displayName": "Closed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contract Sent? ",
              "displayName": "Contract Sent? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contract ID ",
              "displayName": "Contract ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contract Signed?",
              "displayName": "Contract Signed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        256
      ],
      "id": "462f072a-b4e1-42b1-a706-f00cb2748f13",
      "name": "Update row with latest call ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fEEh3dtbP9SEhsE5",
          "name": "Google Sheets account DT - AFT"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -224
      ],
      "id": "0e935670-af13-43da-9357-dc52475bf737",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ff1008b-aa75-4659-b9b5-775446a82800",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        0
      ],
      "id": "fd2f0af1-a8af-4a1d-8395-ea78f0e952c7",
      "name": "Captured Transcript"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"body\": {\n    \"meeting_title\": \"Automation Requirements Discussion – Vihaan Infrastructures\",\n    \"recording_id\": \"rec_987654321\",\n    \"created_at\": \"2025-11-09T17:45:00+05:30\",\n    \"url\": \"https://fathom.video/recording/rec_987654321\",\n    \"share_url\": \"https://share.fathom.video/rec_987654321\",\n    \"default_summary\": {\n      \"markdown_formatted\": \"Deven and Vipul discussed automation challenges for Vihaan Infrastructures, explored potential solutions, reviewed timelines, pricing, and finalized action items for next steps.\"\n    },\n    \"transcript\": [\n      {\n        \"speaker\": {\n          \"display_name\": \"Deven Goratela\"\n        },\n        \"text\": \"Hi Vipul, thanks for joining today. As discussed earlier, Vihaan Infrastructures wants to streamline their operational workflows, especially around reporting and approval automations. Let's walk through the current challenges you're facing.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Vipul Khatri\"\n        },\n        \"text\": \"Sure, Deven. Right now, we face three major automation issues. First, our purchase approval workflow is almost completely manual. Second, data from field teams isn't synced automatically with our project dashboard. Third, we have delays in generating weekly progress reports. Sometimes they come in two days late.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Deven Goratela\"\n        },\n        \"text\": \"Got it. That's typically where automation makes a huge difference. Anything else causing bottlenecks?\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Vipul Khatri\"\n        },\n        \"text\": \"Yes—two more things. Our vendor billing verification is also manual, which leads to errors. And lastly, we don’t have automated notifications when certain milestones are delayed.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Deven Goratela\"\n        },\n        \"text\": \"Understood. So, summarizing: manual approvals, no real-time field data sync, slow reporting, vendor billing errors, and missing milestone alerts. Let me propose possible solutions.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Deven Goratela\"\n        },\n        \"text\": \"First, we can build an automated approval workflow using n8n integrating with your internal systems. Second, we can automate field data syncing via mobile forms connected to your main database. Third, we can create a scheduled report generator. And for the vendor billing, we can set rule-based verification. Lastly, automated milestone triggers can easily be added.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Vipul Khatri\"\n        },\n        \"text\": \"These sound good. What would the timeline look like? We want to start soon.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Deven Goratela\"\n        },\n        \"text\": \"We can start as early as next Monday. Total project duration should be around 4–5 weeks. Week 1 would be workflow mapping and data structure finalization. Weeks 2 and 3 would be development and automation building. Week 4 for testing. Week 5 for deployment and training.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Vipul Khatri\"\n        },\n        \"text\": \"Perfect. And what about the cost?\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Deven Goratela\"\n        },\n        \"text\": \"For the entire automation suite, pricing would be in the range of ₹85,000 to ₹1,20,000 depending on integrations. This covers workflow design, development, testing, deployment, and documentation. Ongoing support can be added for ₹5,000 per month if required.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Vipul Khatri\"\n        },\n        \"text\": \"That works for us. Let’s move forward. Just send me the workflow outline and we’ll confirm.\"\n      },\n      {\n        \"speaker\": {\n          \"display_name\": \"Deven Goratela\"\n        },\n        \"text\": \"Great. I’ll send it today. Let's wrap up with action items.\"\n      }\n    ],\n    \"calendar_invitees\": [\n      {\n        \"name\": \"Deven Goratela\",\n        \"email\": \"deven.goratela@mycompany.com\"\n      },\n      {\n        \"name\": \"Vipul Khatri\",\n        \"email\": \"deven.list+1@gmail.com\"\n      }\n    ],\n    \"action_items\": [\n      {\n        \"description\": \"Send detailed workflow outline and automation structure to Vipul.\",\n        \"completed\": false,\n        \"assignee\": {\n          \"name\": \"Deven Goratela\",\n          \"email\": \"deven.goratela@mycompany.com\"\n        }\n      },\n      {\n        \"description\": \"Share internal data access and system details from Vihaan for integration setup.\",\n        \"completed\": false,\n        \"assignee\": {\n          \"name\": \"Vipul Khatri\",\n          \"email\": \"deven.list+1@gmail.com\"\n        }\n      },\n      {\n        \"description\": \"Finalize project pricing and confirm start date.\",\n        \"completed\": false,\n        \"assignee\": {\n          \"name\": \"Vipul Khatri\",\n          \"email\": \"deven.list+1@gmail.com\"\n        }\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -224
      ],
      "id": "6bfd3988-ff6d-4a9f-8e96-008e271b6d05",
      "name": "Mock Transcript"
    }
  ],
  "pinData": {
    "Get Lead Info": [
      {
        "json": {
          "row_number": 2,
          "ID": 2,
          "First Name": "Manthan",
          "Last Name": "Oza",
          "Role": "Owner",
          "Company Name": "Advento",
          "Company Address": "Gandhinagar, Gujarat",
          "Company Industry": "Manufacturing",
          "Contact Email": "deven.list+1@gmail.com",
          "Contact Phone(optional)": "",
          "Website (optional)": "",
          "Started Sequence?": true,
          "Sequence Last Date": "",
          "Follow Ups": "",
          "Call Scheduled?": false,
          "Showed Call?": "",
          "Sales Transcript ID ": "",
          "Latest/Closed Transcript ID": "",
          "Proposal sent?": false,
          "Closed?": false,
          "Contract Sent? ": false,
          "Contract ID ": "",
          "Contract Signed?": false
        }
      }
    ],
    "Extract information for the proposal": [
      {
        "json": {
          "output": {
            "proposal title": "Automation Suite for Vihaan Infrastructures Operational Workflows",
            "proposal description": "Implement automation for approval workflows, field data syncing, reporting, vendor billing verification, and milestone notifications to streamline Vihaan Infrastructures' operations.",
            "clients bottlenecks": "Vihaan Infrastructures struggles with manual purchase approvals, unsynced field data to dashboards, delayed weekly progress reports, manual vendor billing verifications prone to errors, and lack of automated notifications for delayed milestones. These inefficiencies cause operational delays and errors.",
            "aim of the project": "To automate key operational workflows including approvals, data syncing, reporting, vendor billing verification, and milestone alerts, improving accuracy and timeliness for Vihaan Infrastructures.",
            "first solution heading": "Automated Approval Workflow",
            "second solution heading": "Field Data Sync and Reporting Automation",
            "third solution heading": "Vendor Billing Verification and Milestone Notifications",
            "first solution description": "Develop an automated purchase approval system using n8n integrated with internal systems to replace the manual and time-consuming approval process.",
            "second solution description": "Automate syncing of field team data via mobile forms connected to the main database and implement a scheduled report generator to ensure timely progress reporting.",
            "third solution description": "Set up rule-based vendor billing verification to reduce errors and create automated milestone delay notifications to keep the team informed in real time.",
            "Phase 1": "Workflow mapping and finalizing data structures for all automation processes.",
            "Phase 2": "Development and building of automated workflows for approval, data sync, reporting, billing verification, and notifications.",
            "Phase 3": "Testing the implemented automations to ensure reliability and accuracy.",
            "Phase 4": "Deployment of the automation suite and training the client’s team for smooth adoption.",
            "Cost first half": "₹42,500 to ₹60,000",
            "First half payment deadline": "One week after the sales call",
            "Remaining half cost": "₹42,500 to ₹60,000",
            "Remaining half cost deadline": "One week after we notify the client that we have submitted the work, that we're ready to go ahead and we're done with our part.",
            "goal of the project": "Improve operational efficiency and accuracy by automating core workflows, reducing manual errors, and enabling real-time data updates and notifications."
          }
        }
      }
    ],
    "Copy existing proposal template": [
      {
        "json": {
          "kind": "drive#file",
          "id": "1GdA0SjOcFnSuV15lYw1ScJKl_8ACVWWmq7m5UGL0TxY",
          "name": "Proposal for Advento",
          "mimeType": "application/vnd.google-apps.presentation"
        }
      }
    ],
    "Replace text in the proposal": [
      {
        "json": {
          "presentationId": "1GdA0SjOcFnSuV15lYw1ScJKl_8ACVWWmq7m5UGL0TxY",
          "replies": [
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            }
          ],
          "writeControl": {
            "requiredRevisionId": "e0xaB2IbBp1IhQ"
          }
        }
      }
    ],
    "Send the proposal for review and edits": [
      {
        "json": {
          "id": "19a68b3d045ee374",
          "threadId": "19a68b3d045ee374",
          "labelIds": [
            "UNREAD",
            "SENT",
            "INBOX"
          ]
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Captured Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Info": {
      "main": [
        [
          {
            "node": "Sales Call or Closing Call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Call or Closing Call?": {
      "main": [
        [
          {
            "node": "Clean Up Fathom Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row with latest call ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up Fathom Data": {
      "main": [
        [
          {
            "node": "Extract information for the proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract information for the proposal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract information for the proposal": {
      "main": [
        [
          {
            "node": "Copy existing proposal template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy existing proposal template": {
      "main": [
        [
          {
            "node": "Replace text in the proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace text in the proposal": {
      "main": [
        [
          {
            "node": "Send the proposal for review and edits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send the proposal for review and edits": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Mock Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captured Transcript": {
      "main": [
        [
          {
            "node": "Get Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Transcript": {
      "main": [
        [
          {
            "node": "Captured Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78d328bd-f403-4daf-8839-59c15a472b6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "744bee391b0562aa4a95fe235a476c95299d49b073b59d27231bf50be6b8320f"
  },
  "id": "7JDHv1mRMvzmzu0C",
  "tags": []
}