main-vps-n8n-backups/Ollama Test.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-01T14:34:35.370Z",
  "id": "5uZm46P1UHBPeVco",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Ollama Test",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        -128
      ],
      "id": "32c8aae5-fffc-439a-9750-6128b6901323",
      "name": "When chat message received",
      "webhookId": "e2cbcfdb-fcfc-4811-ab0e-ffe5e81223f3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        304,
        48
      ],
      "id": "99260feb-5bf8-4905-b837-0f80a5542463",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "TnUlzpqTvMV5SiZe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "phi4-mini:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -208,
        80
      ],
      "id": "4ee74461-89ee-4ade-9a96-afd6a50a3456",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "PXFv0WoPqnbVierE",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        -128
      ],
      "id": "6164c493-64fe-462a-b930-cc76dec03236",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        80
      ],
      "id": "c2df2375-4670-4e77-b06a-c7c932662dbf",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-01T14:34:35.385Z",
      "updatedAt": "2025-10-01T14:34:35.385Z",
      "role": "workflow:owner",
      "workflowId": "5uZm46P1UHBPeVco",
      "projectId": "aWyvbmsnIGDehq9r"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-02T08:27:43.000Z",
  "versionId": "e7c9e300-e9b5-4c53-997f-f7a4864f1a5c"
}