main-vps-n8n-backups/The Recap AI - Twitter Scraping.json
{
  "active": false,
  "connections": {
    "tweets_by_username": {
      "main": [
        [
          {
            "node": "scrape_username_tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_username_tweets": {
      "main": [
        [
          {
            "node": "append_username_tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_search_tweets": {
      "main": [
        [
          {
            "node": "append_search_tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tweets_by_search_query": {
      "main": [
        [
          {
            "node": "scrape_search_tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tweets_by_list": {
      "main": [
        [
          {
            "node": "scrape_list_tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_list_tweets": {
      "main": [
        [
          {
            "node": "append_list_tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-30T19:20:59.116Z",
  "id": "7LLV1vd9Wq53BUXG",
  "isArchived": false,
  "meta": null,
  "name": "The Recap AI - Twitter Scraping",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tweets By Username",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Username",
              "placeholder": "LucasAutomation",
              "requiredField": true
            },
            {
              "fieldLabel": "Limit",
              "fieldType": "number",
              "placeholder": "10",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        928,
        272
      ],
      "id": "d52372a9-9067-4293-9be0-bb38f87b98c2",
      "name": "tweets_by_username",
      "webhookId": "efdb6027-2816-4003-bb15-04905f1937ca"
    },
    {
      "parameters": {
        "content": "## 1. Scrape Tweets By Username\n\n**What it does:**\n- Takes a Twitter username and tweet limit from form input\n- Calls Apify's tweet-scraper actor to fetch latest tweets from that specific user\n- Saves results to Google Sheets with tweet data (ID, URL, text, engagement metrics)",
        "height": 460,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        0
      ],
      "typeVersion": 1,
      "id": "fcca4563-3a01-43e8-98da-16ae6ae6a746",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apidojo~tweet-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeSearchTerms\": false,\n    \"maxItems\": {{ $json.Limit }},\n    \"onlyImage\": false,\n    \"onlyQuote\": false,\n    \"onlyTwitterBlue\": false,\n    \"onlyVerifiedUsers\": false,\n    \"onlyVideo\": false,\n    \"sort\": \"Latest\",\n    \"tweetLanguage\": \"en\",\n    \"twitterHandles\": [\n        \"{{ $json.Username }}\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        272
      ],
      "id": "675fd625-9e33-489f-b0bd-83186e83aeff",
      "name": "scrape_username_tweets"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk",
          "mode": "list",
          "cachedResultName": "Twitter Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Username Tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.id }}",
            "Url": "={{ $json.url }}",
            "Text": "={{ $json.text }}",
            "Timestamp": "={{ $json.createdAt }}",
            "Retweet Count": "={{ $json.retweetCount }}",
            "Reply Count": "={{ $json.replyCount }}",
            "Like Count": "={{ $json.likeCount }}",
            "View Count": "={{ $json.viewCount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retweet Count",
              "displayName": "Retweet Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply Count",
              "displayName": "Reply Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Like Count",
              "displayName": "Like Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "View Count",
              "displayName": "View Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1584,
        272
      ],
      "id": "dbe516a1-af85-4551-8528-55d820420de4",
      "name": "append_username_tweets"
    },
    {
      "parameters": {
        "content": "## 2. Scrape Tweets By Search Query\n\n**What it does:**\n- Takes a search query and limit from form input\n- Calls Apify's tweet-scraper actor to find tweets matching the search terms\n- Filters for verified users and Twitter Blue accounts only\n- Sorts results by \"Top\" tweets (most engaging)\n- Saves results to Google Sheets with tweet data and metrics",
        "height": 460,
        "width": 1080,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        480
      ],
      "typeVersion": 1,
      "id": "bbd69b1a-82fe-4c63-a483-62aa563c4c69",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apidojo~tweet-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeSearchTerms\": false,\n    \"maxItems\": 10,\n    \"onlyImage\": false,\n    \"onlyQuote\": false,\n    \"onlyTwitterBlue\": true,\n    \"onlyVerifiedUsers\": true,\n    \"onlyVideo\": false,\n    \"searchTerms\": [\n        \"released ai research paper\"\n    ],\n    \"sort\": \"Latest\",\n    \"tweetLanguage\": \"en\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        752
      ],
      "id": "0c724e3b-ea09-41bd-8d6e-9a48ff4a8bcc",
      "name": "scrape_search_tweets"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk",
          "mode": "list",
          "cachedResultName": "Twitter Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 523826698,
          "mode": "list",
          "cachedResultName": "Search Query Tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk/edit#gid=523826698"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.id }}",
            "Url": "={{ $json.url }}",
            "Text": "={{ $json.text }}",
            "Timestamp": "={{ $json.createdAt }}",
            "Retweet Count": "={{ $json.retweetCount }}",
            "Reply Count": "={{ $json.replyCount }}",
            "Like Count": "={{ $json.likeCount }}",
            "View Count": "={{ $json.viewCount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retweet Count",
              "displayName": "Retweet Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply Count",
              "displayName": "Reply Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Like Count",
              "displayName": "Like Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "View Count",
              "displayName": "View Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1584,
        752
      ],
      "id": "13233b8b-ed6b-419f-9181-bfa71a4a3319",
      "name": "append_search_tweets"
    },
    {
      "parameters": {
        "formTitle": "Tweets By Username",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Search Query",
              "placeholder": "released ai research paper",
              "requiredField": true
            },
            {
              "fieldLabel": "Limit",
              "fieldType": "number",
              "placeholder": "10",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        928,
        752
      ],
      "id": "f16b175c-dd11-4678-8227-7a30faa48021",
      "name": "tweets_by_search_query",
      "webhookId": "3af66c27-b180-47dc-9447-aa7df23f1f4a"
    },
    {
      "parameters": {
        "content": "## 3. Scrape Tweets By Twitter List\n\n- Takes a Twitter list URL and tweet limit from form input\n- Calls Apify's tweet-scraper actor to fetch latest tweets from all users in that list\n- Returns tweets in English, sorted by most recent\n- Saves results to Google Sheets with tweet data and engagement metrics",
        "height": 460,
        "width": 1080,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        960
      ],
      "typeVersion": 1,
      "id": "7a31a738-f3d2-4949-88d8-ed6cd4f9c760",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "formTitle": "Tweets By List",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Twitter List Url",
              "placeholder": "https://x.com/i/lists/1888303252758004106",
              "requiredField": true
            },
            {
              "fieldLabel": "Limit",
              "fieldType": "number",
              "placeholder": "10",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        928,
        1232
      ],
      "id": "a961f412-59b1-4d20-9dbb-0790db54b518",
      "name": "tweets_by_list",
      "webhookId": "d0fdb2c4-f1a3-4256-b99a-a1bbf22000cc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apidojo~tweet-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"includeSearchTerms\": false,\n  \"maxItems\": 10,\n  \"onlyImage\": false,\n  \"onlyQuote\": false,\n  \"onlyTwitterBlue\": true,\n  \"onlyVerifiedUsers\": true,\n  \"onlyVideo\": false,\n  \"sort\": \"Latest\",\n  \"startUrls\": [\n    \"{{ $json['Twitter List Url'] }}\"\n  ],\n  \"tweetLanguage\": \"en\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        1232
      ],
      "id": "f6fa1b77-491a-4754-a920-319b1427b2eb",
      "name": "scrape_list_tweets"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk",
          "mode": "list",
          "cachedResultName": "Twitter Scraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1483385346,
          "mode": "list",
          "cachedResultName": "Twitter List Tweets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YDimQ1u1Zsl4k7dE2z8uD3R86ZHEjB7t19v1ZCkmJk/edit#gid=1483385346"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.id }}",
            "Url": "={{ $json.url }}",
            "Text": "={{ $json.text }}",
            "Timestamp": "={{ $json.createdAt }}",
            "Retweet Count": "={{ $json.retweetCount }}",
            "Reply Count": "={{ $json.replyCount }}",
            "Like Count": "={{ $json.likeCount }}",
            "View Count": "={{ $json.viewCount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retweet Count",
              "displayName": "Retweet Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply Count",
              "displayName": "Reply Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Like Count",
              "displayName": "Like Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "View Count",
              "displayName": "View Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1584,
        1232
      ],
      "id": "a7e855b3-139e-46ca-b718-69db3a9430e3",
      "name": "append_list_tweets"
    },
    {
      "parameters": {
        "content": "# Twitter Scraper - Customization Guide\n\nApify Actor: https://console.apify.com/actors/61RPP7dywgiy0JPD0/information/latest/readme\n\n## Basic Parameters You Can Modify (To Filter Tweets)\n\n### Content Filters\n```json\n\"onlyVerifiedUsers\": true,     // Only verified accounts\n\"onlyTwitterBlue\": true,       // Only Twitter Blue subscribers  \n\"onlyImage\": true,             // Only tweets with images\n\"onlyVideo\": true,             // Only tweets with videos\n\"onlyQuote\": true,             // Only quote tweets\n```\n\n### Language & Sorting\n```json\n\"tweetLanguage\": \"en\",         // Language code (en, es, fr, etc.)\n\"sort\": \"Latest\",              // \"Latest\" or \"Top\"\n\"maxItems\": 100,               // Number of tweets to fetch\n```\n\n### Engagement Filters\n```json\n\"minimumRetweets\": 10,         // Min retweet count\n\"minimumFavorites\": 50,        // Min like count  \n\"minimumReplies\": 5,           // Min reply count\n```\n\n## Advanced Search Queries\n\nInstead of basic usernames/keywords, use `searchTerms` with Twitter's advanced syntax:\nhttps://developer.x.com/en/docs/x-api/v1/rules-and-filtering/search-operators\n\n### Time-Based Searches\n```json\n\"searchTerms\": [\"from:NASA since:2024-01-01 until:2024-06-01\"]\n```\n\n### Complex Queries\n```json\n\"searchTerms\": [\n  \"(AI OR artificial intelligence) min_faves:100\",\n  \"from:elonmusk filter:media -filter:retweets\",\n  \"#crypto (bitcoin OR ethereum) min_retweets:50\"\n]\n```\n\n## Tips for Your N8N Workflow\n\n1. **Test queries on Twitter web first** - paste your search terms in Twitter's search\n2. **Start small** - use low `maxItems` for testing\n3. **Use date ranges** for large profiles to avoid hitting limits\n4. **Combine filters** - e.g., verified users + minimum engagement for quality content",
        "height": 1420,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e21b8376-4c60-43e3-9e7f-8fe189bca37b",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-30T19:20:59.130Z",
      "updatedAt": "2025-09-30T19:20:59.130Z",
      "role": "workflow:owner",
      "workflowId": "7LLV1vd9Wq53BUXG",
      "projectId": "aWyvbmsnIGDehq9r"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-30T19:20:59.000Z",
  "versionId": "76297530-10d5-43c7-a11a-355f3700e88a"
}